In [533]:
import pandas as pd
import matplotlib.pyplot as plt

In [534]:
#file_path = "\\Users\\eggfr\\Flatiron\\Flatiron_phase4_project\\Gun_Image_Classification\\HC_folder\\data\\GunViolenceArchiveDataJan2014toJun2022.csv"

In [535]:
file_path3 ="\\Users\\eggfr\\Flatiron\\Flatiron_phase4_project\\Gun-Image-Classification\\HC Folder\\data\\GunViolenceArchiveDataJan2014toJun2022.csv"

Gun Violence Archive (GVA) is a not for profit corporation formed in 2013 to provide free online public access to accurate information about gun-related violence in the United States. GVA will collect and check for accuracy, comprehensive information about gun-related violence in the U.S. and then post and disseminate it online

In [536]:
gun_data_raw_df = pd.read_csv(file_path3, encoding= 'unicode_escape')
gun_data_raw_df.shape

(448402, 8)

In [537]:
gun_data_raw_df.shape

(448402, 8)

In [538]:
gun_data_raw_df.isna().sum()

Incident ID            0
Incident Date          0
state                  0
City Or County         0
Address            15443
n_killed               0
n_injured              0
Operations        448277
dtype: int64

In [539]:
#gun_data_raw_df

In [540]:
#gun_data_raw_df.groupby['state']

In [541]:
gun_data_raw_df.drop(['Address','Operations','Incident ID'], axis=1, inplace = True)
gun_data_raw_df['Incident Date'] = pd.to_datetime(gun_data_raw_df['Incident Date'])
gun_data_raw_df.set_index('Incident Date', inplace=True)
gun_data_raw_df.rename(columns={'state': 'State','n_killed': 'People Killed','n_injured': 'People Injured' }, inplace=True)
gun_data_raw_yearly_df = gun_data_raw_df.resample('Y').sum()
#gun_data_raw_df.rename(columns={'state': 'State','n_killed': 'People Killed','n_injured': 'People Injured' }, inplace=True)
#gun_monthly_df = gun_data_raw_df['Incident Date'].resample('MS')
#gun_data_raw_df.groupby(['state']).sum()
#gun_data_raw_df=gun_data_raw_df.resample('W', on='Incident Date').sum()
#gun_data_raw_df.groupby['State']

# Time series for people killed and injured

In [542]:
gun_data_raw_yearly_df

               People Killed  People Injured
Incident Date
2014-12-31             12348           21866
2015-12-31             13573           26899
2016-12-31             15130           30594
2017-12-31             15733           31364
2018-12-31             14917           28290
2019-12-31             15490           30193
2020-12-31             19517           39532
2021-12-31             20936           40579
2022-12-31              8962           16937

In [543]:
gun_data_raw_df

                    State City Or County  People Killed  People Injured
Incident Date
2014-01-01        Florida        Orlando              1               1
2014-01-01           Ohio     Cincinnati              1               0
2014-01-01     California       Glendale              0               1
2014-01-01          Texas   Hebbronville              0               1
2014-01-01       New York      Rochester              1               1
...                   ...            ...            ...             ...
2022-06-16       Illinois        Chicago              0               1
2022-06-16       Illinois        Chicago              0               1
2022-06-16       Arkansas      Alexander              0               1
2022-06-16       Kentucky   Hopkinsville              0               0
2022-06-16       Nebraska        Lincoln              0               1

[448402 rows x 4 columns]

In [544]:
gun_data_raw_df.columns

Index(['State', 'City Or County', 'People Killed', 'People Injured'], dtype='object')

In [545]:
gun_data_raw_df.groupby(['City Or County']).count()

#print(abc)

                State  People Killed  People Injured
City Or County
Abbeville          97             97              97
Abbotsford          3              3               3
Abbott              2              2               2
Abbottstown         1              1               1
Abercrombie         1              1               1
...               ...            ...             ...
Zolfo Springs       1              1               1
Zumbro Falls        2              2               2
Zumbrota            1              1               1
Zuni                1              1               1
Zwolle              3              3               3

[14387 rows x 3 columns]

In [546]:
#gun_data_raw_df.groupby(gun_data_raw_df['Incident Date'].map(lambda x:x.year))

In [547]:
#state_df=gun_data_raw_df.groupby('state').agg({'n_killed':['sum']}).plot.bar(figsize=(18,10), colormap='summer')
#plt.title('People killed by gun incidents of each state between 2014-2022')

In [548]:
#gun_data_raw_df.resample('M', on='incident Date')

In [549]:
#file_path2 = "\\Users\\eggfr\\Flatiron\\Flatiron_phase4_project\\CNN_Gun_Image_Classification\\HC_folder\\data\\US Mass Shooting 1966-2019.csv"

In [550]:
#gun_mass_shooting_df = pd.read_csv(file_path2, encoding= 'unicode_escape')
#gun_mass_shooting_df

In [551]:
#gun_mass_shooting_df.isna().sum()

In [552]:
#file_path3 = "\\Users\\eggfr\\Flatiron\\Flatiron_phase4_project\\CNN_Gun_Image_Classification\\HC_folder\\data\\US Mass Shooting 2012-2019.csv"

In [553]:
#gun_mass_shooting_raw_df = pd.read_csv(file_path2, encoding= 'unicode_escape')
#gun_mass_shooting_raw_df.head()

In [554]:
#gun_mass_shooting_raw_df.shape

In [555]:
#gun_mass_shooting_raw_df.isna().sum()